[defaults]
inventory = ./inventory
log_path = ./log
nocows = 1

gathering = smart
var_compression_level = 9

ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
